spring:
  datasource:
    url: ${DB_URL:jdbc:h2:mem:aviation;DB_CLOSE_DELAY=-1;MODE=PostgreSQL}
    username: ${DB_USER:sa}
    password: ${DB_PASS:}
    driver-class-name: ${DB_DRIVER:org.h2.Driver}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true

server:
  port: 8080
